body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: system-ui;
}

header {
    background-color: rgba(232,229,233,255);
    display: flex;
}

.logo-vans {
    width: 10%;
}

.menu {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.menu-1, .menu-2 {    
    height: 50%;
    text-align: right;
}

.item-menu-2 {
    display: flex;
    justify-content: center;
}

.menu-item {
    padding: 0px 40px 0px 40px;
}

main {
    margin: 2%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

.lateral {
    display: flex;
    width: 28%;
    flex-direction: column;
}

.categorias {
    display: flex;
}

.categoria-imagem {
    padding: 2%;
    width: 20%;
    border-radius: 15px;

}

.categoria-texto {
    margin: 1%;
}
 

.categorias {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.categoria {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.imagem-lateral {
    width: 90%;
    border: 2px solid white 0.1;
    border-radius: 15px;
    color: black;
    margin: 0% 0% 5% 0%;
}

.imagens {
    display: flex;
    flex-direction: column;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.imagem-grande {
    margin: 0%;
    padding: 0%;
    border: 2px solid white 0.1;
    box-shadow: 0 0px 1px rgba(0, 0, 0, .6);
    border-radius: 15px;
    color: black;
}

.imagem-medio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 28%;
    margin: 0%;
    padding: 0%;
    border: 2px solid white 0.1;
    box-shadow: 0 0px 1px rgba(0, 0, 0, .6);
    border-radius: 15px;
    color: black;
}

.imagens-medio {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.imagem {
    padding: 1%;
    width: 98%;
    border-radius: 15px;
}

.recentes {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.recente {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 22%;
    margin: 0%;
    padding: 0%;
    box-shadow: 0 0px 1px rgba(0, 0, 0, .6);
    border-radius: 15px;
    color: black;
}

p {
    padding: 1%;
    font-size: small;
}

footer {
    display: flex;
    justify-content: center;
}

.footer-categoria {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.footer-categoria-1, .footer-categoria-2 {
    width: 10%;
}

.footer-menu, .footer-guia, .footer-sobre {
    width: 15%;
}